@font-face {
	font-family: Keep Calm Med;
	src: url('../fonts/KeepCalm-Medium.ttf') format('truetype');
}

@font-face {
	font-family: TelefonicaCAP;
	src: url('../fonts/TelefonicaCAP.otf') format('opentype');
}

@font-face {
	font-family: TelefonicaHeadLine-Light;
	src: url('../fonts/TelefonicaHeadline-Light.otf') format('opentype');
}

@font-face {
	font-family: TelefonicaText;
	src: url('../fonts/telefonicatext-webfont.ttf') format('truetype');
}

.ui-widget, .ui-widget .ui-widget, .ui-wizard-step-title {
	font-size: 15px;
	font-family: TelefonicaHeadLine-Light;
}

.ui-widget-content, .ui-panel .ui-panel-titlebar {
	border-radius: 15px 35px;
}

.top td {
	vertical-align: top;
}

.ui-messages-error-summary {
	font-size: 90%;
	font-style: normal;
}

.jqplot-target {
	color: black;
}

.top-alignment {
	vertical-align: top;
}

.button {
	background-color: #00a6dd;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	width: 100%;
	border-radius: 15px 35px;
}

.one-third {
	width: 33%;
	vertical-align: middle !important;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-width: 1px;
}